altair
tabulate
opencv-python
matplotlib
ultralytics
pytesseract
tesseract-ocr
extcolors
colormap
selenium
pyautogui
ffmpeg-python
pyautogen[lmm]

#### FOR DEVELOPMENT ####
# transformers
# scikit-learn